 .maincontainer{
 width: 80%;
 margin: auto;
 display: flex;
 background-color: rgb(227, 248, 248);
 border: 2px solid black;
 height: 70vh;
 justify-content: center;
 }
 .userpic{
    margin: 20px;
    border-radius: 50% ;
    border:  1px solid black;
    height:110px;
    width: 110px;
 }