.container{
    width: 81%;
  margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
  justify-content: center;
    gap: 15px;
}
.cardgallery{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: calc(3*var(--s) + 2*var(--g));
   flex-wrap: wrap;
    gap: 5px;
}
.cardimg{
    max-width: 100%;
    object-fit: contain;
    height:auto;
    margin-top: 8px;
    vertical-align: middle;
}