.container{
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background-color: #65939e71;
    width: 51%;
    margin: auto;
   
 
}   
.containersub{ 
    padding: 25px;
    margin: 51px;
}   
.checkbox{
 margin:10%;

}   
.p{
  display: inline-block;
}   
.logindiv{
  display:flex;
  justify-content: center;
  color: white;
  margin: auto;
}   
.login{
  background-color: blue;
  color: white;
  margin: 20px;
  border: transparent;
  padding: 12px 20px;
  font-size: 15px;
  border-radius:7px;
}
.login:hover{
opacity: .6;
}
.registeredbtn{
 display: flex;
 justify-content: center;

}
.google{
display: flex;
  justify-content: center;
  text-align: center;
}